Repository arashi0-git/ft_trancendence: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck-backend, typecheck-frontend, lint-backend, lint-frontend, format

typecheck-backend:
  run: npm run typecheck --prefix backend
  skip:
  - merge
  - rebase

typecheck-frontend:
  run: npm run typecheck --prefix frontend
  skip:
  - merge
  - rebase

lint-backend:
  run: npm run lint:fix --prefix backend
  stage_fixed: true
  skip:
  - merge
  - rebase

lint-frontend:
  run: npm run lint:fix --prefix frontend
  stage_fixed: true
  skip:
  - merge
  - rebase

format:
  run: npx prettier --write --ignore-unknown {staged_files}
  stage_fixed: true
  skip:
  - merge
  - rebase

feat: パスワードの見え隠れ機能
  frontend/images/icon/eye_icon.png
  frontend/src/shared/components/login-form.ts
  frontend/src/shared/components/register-form.ts
Due: typecheck-frontend, lint-frontend, format

feat: 4人プレイの時も名前表示
  frontend/src/shared/game/babylon-render.ts
  frontend/src/shared/game/pong-game-3d.ts
Due: typecheck-frontend, lint-frontend, format

fix: ai-playerの閾値を合わせる
  frontend/src/pages/ai-mode/ai-player.ts
  start-dev.sh
Due: typecheck-frontend, lint-frontend, format

fix: 重複する内容をファイル作成で統一
  frontend/src/shared/components/login-form.ts
  frontend/src/shared/components/register-form.ts
  frontend/src/shared/utils/password-toggle-utils.ts
Due: typecheck-frontend, lint-frontend, format

feat: スコアボードに登録名と3dぽく
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/quick-play/quick-play.service.ts
  frontend/src/pages/tournament/tournament.service.ts
  frontend/src/shared/components/player-selector.ts
  frontend/src/shared/game/babylon-render.ts
  frontend/src/shared/game/pong-game-3d.ts
  frontend/src/shared/services/game-manager.service.ts
  frontend/src/shared/types/game.ts
Due: typecheck-frontend, lint-frontend, format

add: 一括起動シェルスクリプト
  start-dev.sh
Due: none

change every follow to friend
  backend/src/models/friend.ts
  backend/src/routes/user.ts
  backend/src/services/friendService.ts
  backend/src/types/user.ts
  database/schema.sql
  frontend/src/shared/services/auth-service.ts
Due: typecheck-backend, typecheck-frontend, lint-backend, lint-frontend, format

feat: ゲームページでのボタンを消す
  frontend/src/pages/quick-play/index.ts
  frontend/src/pages/quick-play/quick-play.service.ts
  frontend/src/routes/route-config.ts
  frontend/src/shared/components/app-header.ts
Due: typecheck-frontend, lint-frontend, format

rename follow database as friend
  backend/src/models/friend.ts
  database/schema.sql
  frontend/src/shared/services/auth-service.ts
  frontend/src/shared/types/user.ts
Due: typecheck-backend, typecheck-frontend, lint-backend, lint-frontend, format

fix: error修正
  frontend/src/app.ts
  frontend/src/pages/quick-play/index.ts
  frontend/src/shared/components/app-header.ts
  frontend/src/shared/components/space-background.ts
  frontend/src/shared/components/space-page-base.ts
  frontend/src/shared/game/babylon-render.ts
  frontend/src/shared/game/pong-game-3d.ts
  frontend/src/shared/utils/password-toggle-utils.ts
Due: typecheck-frontend, lint-frontend, format

fix: DoMの危険性に関して
  frontend/src/app.ts
Due: format

fix: リロードした際のバグ修正
  frontend/src/pages/quick-play/index.ts
Due: typecheck-frontend, lint-frontend, format

bug: resetボタンで白が濃くなるのを修正
  frontend/src/shared/game/babylon-render.ts
  frontend/src/shared/services/game-manager.service.ts
Due: typecheck-frontend, lint-frontend, format

login translated
  frontend/src/i18n/locales/cs.json
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/jp.json
  frontend/src/pages/quick-play/index.ts
  frontend/src/pages/quick-play/quick-play.service.ts
  frontend/src/pages/tournament/tournament.service.ts
  frontend/src/shared/components/login-form.ts
Due: typecheck-frontend, lint-frontend, format

I have an ari in my pc
  frontend/src/pages/quick-play/quick-play.service.ts
  frontend/src/shared/components/login-form.ts
Due: typecheck-frontend, lint-frontend, format

in the middle of checking mandatory security
  backend/.env.example
Due: none

fixed env file
  backend/.env.example
  frontend/src/shared/utils/html-utils.ts
Due: typecheck-frontend, lint-frontend, format

prevent sql injection and xss
  frontend/src/pages/settings/friends-section.ts
  frontend/src/pages/settings/history-section.ts
  frontend/src/shared/components/login-form.ts
Due: typecheck-frontend, lint-frontend, format

make it use the shared util's htmlescape
  frontend/src/pages/settings/profile-section.ts
  frontend/src/pages/tournament/tournament.service.ts
  frontend/src/shared/components/player-registration-manager.ts
  frontend/src/shared/components/player-registration-ui.ts
  frontend/src/shared/components/player-registration-with-count-selector.ts
  frontend/src/shared/components/player-selector.ts
  frontend/src/shared/services/notification.service.ts
Due: typecheck-frontend, lint-frontend, format

make it use the shared util's htmlescape
  package-lock.json
  package.json
Due: none

remove unused error variables and used unsued errors
  backend/src/middleware/auth.ts
  backend/src/utils/auth.ts
  frontend/src/shared/components/login-form.ts
Due: typecheck-backend, typecheck-frontend, lint-backend, lint-frontend, format

not to console log error a confidential token informatino
  backend/src/middleware/auth.ts
  backend/src/utils/auth.ts
Due: typecheck-backend, lint-backend, format

implement hisotry section destroy function
  frontend/src/pages/settings/history-section.ts
Due: typecheck-frontend, lint-frontend, format

functions used more than one time gathered in one file
  frontend/src/pages/home/index.ts
  frontend/src/pages/quick-play/index.ts
  frontend/src/pages/settings/profile-section.ts
  frontend/src/pages/tournament/tournament.service.ts
  frontend/src/shared/components/player-registration-manager.ts
  frontend/src/shared/components/player-registration-ui.ts
  frontend/src/shared/components/player-registration-with-count-selector.ts
  frontend/src/shared/components/player-selector.ts
  frontend/src/shared/services/notification.service.ts
  frontend/src/shared/types/translations.ts
Due: typecheck-frontend, lint-frontend, format

unify the design of login page
  frontend/src/pages/settings/history-section.ts
  frontend/src/pages/settings/security-section.ts
  frontend/src/shared/components/login-form.ts
  frontend/src/shared/components/register-form.ts
  frontend/src/shared/components/two-factor-verification.ts
  frontend/src/shared/utils/password-toggle-utils.ts
Due: typecheck-frontend, lint-frontend, format

register account translated
  frontend/src/i18n/locales/cs.json
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/jp.json
  frontend/src/pages/register/index.ts
  frontend/src/pages/tournament/tournament.service.ts
  frontend/src/shared/components/register-form.ts
  frontend/src/shared/types/translations.ts
  frontend/src/shared/utils/password-toggle-utils.ts
Due: typecheck-frontend, lint-frontend, format

fix: トーナメントの参加人数を4人と8人にしてデフォルトを4人にした
  frontend/src/pages/quick-play/index.ts
  frontend/src/pages/tournament/tournament.service.ts
  frontend/src/shared/components/player-registration-with-count-selector.ts
Due: typecheck-frontend, lint-frontend, format

display all the match history more than 100
  backend/src/routes/history.ts
  frontend/src/pages/settings/history-section.ts
Due: typecheck-backend, typecheck-frontend, lint-backend, lint-frontend, format

set the limit of fetching the database history as 10
  backend/src/routes/history.ts
Due: typecheck-backend, lint-backend, format

fix: ゲームのbuckボタンをけす
  frontend/src/i18n/locales/en.json
  frontend/src/pages/tournament/index.ts
  frontend/src/pages/tournament/tournament.service.ts
Due: typecheck-frontend, lint-frontend, format

aa
  frontend/src/shared/components/player-selector.ts
Due: typecheck-frontend, lint-frontend, format

fix: リスナーの呼び出しを制御
  frontend/src/pages/tournament/index.ts
Due: typecheck-frontend, lint-frontend, format

change the design of the player selection
  backend/package.json
  docker-compose.prod.yml
  frontend/src/i18n/locales/en.json
  frontend/src/pages/quick-play/index.ts
  frontend/src/shared/components/player-registration-manager.ts
  frontend/src/shared/components/player-selector.ts
Due: typecheck-frontend, lint-frontend, format

implement language setting in the user setting
  backend/src/models/user.ts
  backend/src/services/userService.ts
  backend/src/types/user.ts
  database/migrations/003_add_user_language.sql
  database/schema.sql
  frontend/src/i18n/locales/cs.json
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/jp.json
  frontend/src/pages/settings/index.ts
  frontend/src/pages/settings/profile-section.ts
  frontend/src/pages/settings/security-section.ts
  frontend/src/shared/components/register-form.ts
  frontend/src/shared/services/auth-service.ts
  frontend/src/shared/types/user.ts
Due: typecheck-backend, typecheck-frontend, lint-backend, lint-frontend, format

change the setting page order and add language setting
  frontend/src/pages/settings/index.ts
  frontend/src/pages/settings/profile-section.ts
  frontend/src/shared/components/register-form.ts
Due: typecheck-frontend, lint-frontend, format

tournament design andlots of COLOORS changed
  frontend/src/i18n/locales/cs.json
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/jp.json
  frontend/src/pages/game-settings/game-settings.page.ts
  frontend/src/pages/home/index.ts
  frontend/src/pages/quick-play/index.ts
  frontend/src/pages/tournament/tournament.service.ts
  frontend/src/shared/components/app-header.ts
  frontend/src/shared/components/player-registration-manager.ts
  frontend/src/shared/components/player-registration-with-count-selector.ts
  frontend/src/shared/components/player-selector.ts
  frontend/src/shared/types/translations.ts
Due: typecheck-frontend, lint-frontend, format

fixed login player name to be visible
  frontend/src/shared/components/player-selector.ts
Due: typecheck-frontend, lint-frontend, format

docker compose deleted
  backend/package.json
  docker-compose.prod.yml
Due: format

deleted user setting unneeded alert
  backend/uploads/avatars/user-1-1762514863050-d71025111c22.webp
  frontend/src/pages/settings/friends-section.ts
  frontend/src/pages/settings/index.ts
  frontend/src/pages/settings/security-section.ts
Due: typecheck-frontend, lint-frontend, format

login user botton changed
  database/migrations/003_add_user_language.sql
  frontend/src/i18n/locales/cs.json
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/jp.json
  frontend/src/shared/components/player-selector.ts
  frontend/src/shared/types/translations.ts
Due: typecheck-frontend, lint-frontend, format

Path conditions:
  typecheck-backend: any of: backend/src/**/*.{ts,tsx}
  typecheck-frontend: any of: frontend/src/**/*.{ts,tsx}
  lint-backend: any of: backend/src/**/*.{ts,tsx}
  lint-frontend: any of: frontend/src/**/*.{ts,tsx}
  format: any of: **/*.{tsx,ts,mts,mcs,mjs,cjs,js,json,md,yml,yaml}
