Repository arashi0-git/ft_trancendence: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck-backend, typecheck-frontend, lint-backend, lint-frontend, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    typecheck-backend:
      glob: "backend/src/**/*.{ts,tsx}"
      run: npm run typecheck --prefix backend
      skip:
        - merge
        - rebase

    typecheck-frontend:
      glob: "frontend/src/**/*.{ts,tsx}"
      run: npm run typecheck --prefix frontend
      skip:
        - merge
        - rebase

    lint-backend:
      glob: "backend/src/**/*.{ts,tsx}"
      run: npm run lint:fix --prefix backend
      stage_fixed: true
      skip:
        - merge
        - rebase

    lint-frontend:
      glob: "frontend/src/**/*.{ts,tsx}"
      run: npm run lint:fix --prefix frontend
      stage_fixed: true
      skip:
        - merge
        - rebase

    format:
      glob: "**/*.{tsx,ts,mts,mcs,mjs,cjs,js,json,md,yml,yaml}"
      run: npx prettier --write --ignore-unknown {staged_files}
      stage_fixed: true
      skip:
        - merge
        - rebase

pre-push:
  parallel: true
  commands:
    test:
      run: npm run test
      skip:
        - merge
        - rebase

    build:
      run: npm run build
      skip:
        - merge
        - rebase

changed round1- match1 to semifinale text
  frontend/src/i18n/locales/cs.json
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/jp.json
  frontend/src/pages/tournament/tournament.service.ts
  frontend/src/shared/components/app-header.ts
Due: typecheck-frontend, lint-frontend, format

delete red error text in the login and register form
  backend/src/database/migrate.ts
  backend/src/routes/user.ts
  backend/src/services/userService.ts
  frontend/src/i18n/locales/cs.json
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/jp.json
  frontend/src/pages/login/login.service.ts
  frontend/src/pages/quick-play/quick-play.service.ts
  frontend/src/pages/settings/friends-section.ts
  frontend/src/pages/settings/history-section.ts
  frontend/src/pages/settings/index.ts
  frontend/src/pages/settings/profile-section.ts
  frontend/src/pages/settings/security-section.ts
  frontend/src/pages/settings/user-settings.service.ts
  frontend/src/pages/tournament/tournament.service.ts
  frontend/src/shared/components/app-header.ts
  frontend/src/shared/components/login-form.ts
  frontend/src/shared/components/register-form.ts
  frontend/src/shared/components/two-factor-verification.ts
  frontend/src/shared/services/auth-service.ts
  frontend/src/shared/services/base-ai-game.service.ts
  frontend/src/shared/services/base-game.service.ts
  frontend/src/shared/services/notification.service.ts
  frontend/src/shared/types/translations.ts
Due: typecheck-backend, typecheck-frontend, lint-backend, lint-frontend, format

fix user to change only email
  backend/src/services/userService.ts
  frontend/src/i18n/index.ts
  frontend/src/pages/settings/index.ts
  frontend/src/pages/settings/profile-section.ts
  frontend/src/shared/components/login-form.ts
  frontend/src/shared/services/base-game.service.ts
Due: typecheck-backend, typecheck-frontend, lint-backend, lint-frontend, format

Make it don't allow a whitespace username
  backend/src/services/userService.ts
Due: typecheck-backend, lint-backend, format

comment
  frontend/src/i18n/index.ts
Due: typecheck-frontend, lint-frontend, format

merged
  backend/src/database/migrate.ts
  backend/src/routes/user.ts
  backend/src/services/userService.ts
  backend/uploads/avatars/user-1-1762514863050-d71025111c22.webp
  frontend/src/i18n/index.ts
  frontend/src/i18n/locales/cs.json
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/jp.json
  frontend/src/pages/login/login.service.ts
  frontend/src/pages/quick-play/quick-play.service.ts
  frontend/src/pages/settings/friends-section.ts
  frontend/src/pages/settings/history-section.ts
  frontend/src/pages/settings/index.ts
  frontend/src/pages/settings/profile-section.ts
  frontend/src/pages/settings/security-section.ts
  frontend/src/pages/settings/user-settings.service.ts
  frontend/src/pages/tournament/tournament.service.ts
  frontend/src/shared/components/app-header.ts
  frontend/src/shared/components/login-form.ts
  frontend/src/shared/components/register-form.ts
  frontend/src/shared/components/two-factor-verification.ts
  frontend/src/shared/services/auth-service.ts
  frontend/src/shared/services/base-ai-game.service.ts
  frontend/src/shared/services/base-game.service.ts
  frontend/src/shared/services/notification.service.ts
  frontend/src/shared/types/translations.ts
Due: typecheck-backend, typecheck-frontend, lint-backend, lint-frontend, format

implemented the tournament history
  backend/src/models/gameHistory.ts
  backend/src/routes/history.ts
  backend/src/types/history.ts
  database/migrations/004_add_match_type_and_round.sql
  database/migrations/005_add_tournament_name_to_history.sql
  database/schema.sql
  frontend/src/pages/quick-play/quick-play.service.ts
  frontend/src/pages/settings/history-section.ts
  frontend/src/pages/tournament/tournament.service.ts
  frontend/src/shared/components/player-registration-with-count-selector.ts
  frontend/src/shared/services/history-service.ts
  frontend/src/shared/types/history.ts
Due: typecheck-backend, typecheck-frontend, lint-backend, lint-frontend, format

add validation for length of tournament name in the backend
  README.md
  backend/src/database/migrate.ts
  backend/src/routes/history.ts
  frontend/src/shared/services/history-service.ts
Due: typecheck-backend, typecheck-frontend, lint-backend, lint-frontend, format

Add IF NOT EXISTS in the migrations sql
  database/migrations/004_add_match_type_and_round.sql
  database/migrations/005_add_tournament_name_to_history.sql
Due: none

003 language database added
  database/migrations/003_add_user_language.sql
  frontend/src/shared/components/player-selector.ts
Due: typecheck-frontend, lint-frontend, format

rabbit fix
  database/migrations/003_add_user_language.sql
  frontend/src/shared/components/player-selector.ts
Due: typecheck-frontend, lint-frontend, format

remove the duplicated method
  frontend/src/pages/tournament/tournament.service.ts
Due: typecheck-frontend, lint-frontend, format

store lower case username and email
  backend/src/models/user.ts
Due: typecheck-backend, lint-backend, format

deleted IF NOT EXISTS from 004 database file
  database/migrations/004_add_match_type_and_round.sql
Due: none

fix: フィールドのレンダー設定を変更
  frontend/src/shared/game/pong-game-3d.ts
Due: typecheck-frontend, lint-frontend, format

fix: パドルやボールのレンダリングのバグ修正
  frontend/src/shared/game/pong-game-3d.ts
Due: typecheck-frontend, lint-frontend, format

erase http.createServer()
  backend/src/index.ts
  database/migrations/005_add_tournament_name_to_history.sql
  frontend/images/icon/eye_icon.png
Due: format

fix: ボールスピードが変わるバグ
  frontend/src/shared/game/pong-game-3d.ts
Due: typecheck-frontend, lint-frontend, format

translated error alerts from backend
  backend/src/middleware/auth.ts
  backend/src/routes/auth.ts
  backend/src/routes/history.ts
  backend/src/routes/user.ts
  backend/src/utils/errorResponse.ts
  frontend/src/i18n/locales/cs.json
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/jp.json
  frontend/src/pages/settings/index.ts
  frontend/src/pages/settings/profile-section.ts
  frontend/src/pages/settings/security-section.ts
  frontend/src/pages/settings/user-settings.service.ts
  frontend/src/shared/components/login-form.ts
  frontend/src/shared/components/register-form.ts
  frontend/src/shared/components/two-factor-verification.ts
  frontend/src/shared/game/babylon-render.ts
  frontend/src/shared/services/auth-service.ts
  frontend/src/shared/services/history-service.ts
  frontend/src/shared/services/notification.service.ts
  frontend/src/shared/types/user.ts
  frontend/src/shared/utils/api-error.ts
  frontend/src/shared/utils/error-translator.ts
  frontend/src/shared/utils/http.ts
Due: typecheck-backend, typecheck-frontend, lint-backend, lint-frontend, format

code rabbit fixed
  frontend/src/pages/settings/security-section.ts
  frontend/src/shared/utils/http.ts
Due: typecheck-frontend, lint-frontend, format

code rabbit fixed
  frontend/src/pages/settings/security-section.ts
Due: typecheck-frontend, lint-frontend, format

clean code
  backend/src/index.ts
Due: format

translated user profile site (picture is broke)
  frontend/src/i18n/locales/cs.json
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/jp.json
  frontend/src/pages/settings/friends-section.ts
  frontend/src/pages/settings/history-section.ts
  frontend/src/pages/settings/index.ts
  frontend/src/pages/settings/profile-section.ts
  frontend/src/pages/settings/security-section.ts
Due: typecheck-frontend, lint-frontend, format

refactor database
  .gitignore
  backend/src/database/connection.ts
  backend/src/database/init.ts
  backend/src/index.ts
  backend/uploads/avatars/user-1-1761706512481-1f4ed69a5168.webp
  backend/uploads/avatars/user-1-1762071544636-18228a7c5a06.webp
  backend/uploads/avatars/user-1-1762514863050-d71025111c22.webp
  backend/uploads/avatars/user-2-1761717555089-f0ab52c07b44.webp
  database/schema.sql
  database/seed.sql
Due: typecheck-backend, lint-backend, format

erase unused forigner key
  database/migrations/002_create_game_history.sql
  database/schema.sql
Due: none

fix sql format error
  database/schema.sql
Due: none

quick play loss mistake fixed
  frontend/src/pages/quick-play/quick-play.service.ts
Due: typecheck-frontend, lint-frontend, format

erase cors
  backend/.env.example
  backend/Dockerfile
  backend/package.json
  backend/src/index.ts
Due: format

user profile translated, photo upload fixed
  backend/uploads/avatars/user-1-1761706512481-1f4ed69a5168.webp
  backend/uploads/avatars/user-1-1762071544636-18228a7c5a06.webp
  backend/uploads/avatars/user-1-1762514863050-d71025111c22.webp
  backend/uploads/avatars/user-2-1761717555089-f0ab52c07b44.webp
  frontend/.env.example
  frontend/src/i18n/locales/cs.json
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/jp.json
  frontend/src/shared/utils/error-translator.ts
Due: typecheck-frontend, lint-frontend, format

translated 2FA
  backend/uploads/avatars/user-3-1762828695450-cf170cbf1d86.webp
  frontend/src/i18n/locales/cs.json
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/jp.json
  frontend/src/pages/settings/security-section.ts
  frontend/src/shared/components/two-factor-verification.ts
Due: typecheck-frontend, lint-frontend, format

translated 2FA while log in
  frontend/src/i18n/locales/cs.json
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/jp.json
  frontend/src/pages/settings/security-section.ts
  frontend/src/shared/components/login-form.ts
  frontend/src/shared/utils/error-translator.ts
Due: typecheck-frontend, lint-frontend, format

translated register form
  frontend/src/shared/components/login-form.ts
  frontend/src/shared/components/register-form.ts
Due: typecheck-frontend, lint-frontend, format

player movements translated and unified
  frontend/src/i18n/locales/cs.json
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/jp.json
  frontend/src/pages/quick-play/index.ts
Due: typecheck-frontend, lint-frontend, format

finished game designed changed
  frontend/src/pages/quick-play/index.ts
  frontend/src/pages/tournament/index.ts
Due: typecheck-frontend, lint-frontend, format

when log in or log out set the game customization to default
  frontend/src/shared/services/auth-service.ts
Due: typecheck-frontend, lint-frontend, format

deleted A D let and right keys
  frontend/src/shared/game/pong-game-3d.ts
Due: typecheck-frontend, lint-frontend, format

refactor middleware and remove cors
  backend/.env.example
  backend/Dockerfile
  backend/src/index.ts
  backend/src/middleware/auth.ts
  backend/src/utils/auth.ts
  backend/src/utils/errorResponse.ts
  database/schema.sql
  frontend/.env.example
  frontend/vite.config.ts
  test-auth-api.sh
Due: typecheck-backend, lint-backend, format

separate the .schema-hash place
  backend/database/.schema-hash
  backend/src/database/init.ts
Due: typecheck-backend, lint-backend, format

erase error code
  backend/src/utils/errorResponse.ts
Due: typecheck-backend, lint-backend, format

add new line
  backend/.env.example
Due: none
