Repository arashi0-git/ft_trancendence: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    typecheck:
      glob: "{src,backend/src}/**/*.{ts,tsx}"
      run: npm run typecheck
      skip:
        - merge
        - rebase

    lint:
      glob: "{src,backend/src}/**/*.{ts,tsx}"
      run: npm run lint:fix
      stage_fixed: true
      skip:
        - merge
        - rebase

    format:
      glob: "**/*.{tsx,ts,mts,mcs,mjs,cjs,js,json,md,yml,yaml}"
      run: npx prettier --write --ignore-unknown {staged_files}
      stage_fixed: true
      skip:
        - merge
        - rebase

pre-push:
  parallel: true
  commands:
    test:
      run: npm run test
      skip:
        - merge
        - rebase

    build:
      run: npm run build
      skip:
        - merge
        - rebase

ci: run PR checks on node 20 only
  config/jest.config.mjs
Due: format

test: add DatabaseWrapper coverage and align tsconfig for jest
  config/jest.config.mjs
  tsconfig.jest.json
  tsconfig.json
Due: format

chore: repair tsconfig and lint setup for split backend/frontend
  config/.eslintrc.js
  package.json
  tsconfig.eslint.json
  tsconfig.jest.json
  tsconfig.json
Due: format

fix: stabilize coverage run and harden frontend gurads
  frontend/src/pages/tournament/tournament.service.ts
  frontend/src/routes/router.ts
  frontend/src/shared/components/tournament-registration.ts
  frontend/src/shared/services/auth-service.ts
  frontend/src/shared/services/notification.service.ts
  frontend/src/shared/services/tournament-data.service.ts
  frontend/vite.config.ts
  package.json
  tsconfig.jest.json
Due: format

tournament pop up add, but problem with docker
  frontend/src/pages/custom/CustomGamePage.ts
  frontend/src/pages/tournament/index.ts
  frontend/src/pages/tournament/tournament.service.ts
  frontend/src/shared/game/pong-game-3d.ts
  frontend/src/shared/game/pong-game.ts
  frontend/src/shared/types/game.ts
Due: format

fix: updated gitignore not to ignore backend/src/database
  .gitignore
  backend/src/database/connection.test.ts
Due: typecheck, lint, format

ci: install subproject deps and include db test coverage
  .github/workflows/pr-check.yml
Due: format

fix: gitignore /backend/database/
  .gitignore
Due: none

popup screen+bottom color changed
  database/transcendence.db-shm
  database/transcendence.db-wal
  frontend/src/pages/custom/CustomGamePage.ts
  frontend/src/pages/home/home.service.ts
  frontend/src/pages/home/index.ts
Due: format

created pop site after player wins
  frontend/src/pages/quick-play/index.ts
  frontend/src/pages/quick-play/quick-play.service.ts
  package-lock.json
  package.json
Due: format

update package-lock.json
  frontend/package-lock.json
Due: format

botan color changed, game finish alert created
  frontend/index.html
  frontend/src/pages/ai-mode/ai-mode.service.ts
  frontend/src/pages/ai-mode/index.ts
  frontend/src/pages/home/home.service.ts
  frontend/src/pages/home/index.ts
  frontend/src/pages/quick-play/index.ts
  frontend/src/pages/quick-play/quick-play.service.ts
  frontend/src/shared/game/pong-game-3d.ts
  frontend/src/shared/services/game-manager.service.ts
Due: format

added pop up screen after finishing game + bottom color changed
  database/transcendence.db-shm
  database/transcendence.db-wal
  frontend/src/pages/tournament/tournament.service.ts
  frontend/src/shared/game/pong-game-3d.ts
  frontend/src/shared/game/pong-game.ts
  frontend/src/shared/services/game-manager.service.ts
Due: format

chore: Regenerate package-lock.json to resolve conflicts
  backend/package-lock.json
Due: format

chore: Regenerate package-lock.json to resolve conflicts
  package-lock.json
Due: none

add pop up site after game finishes and changed color
  database/transcendence.db-shm
  database/transcendence.db-wal
  frontend/src/pages/home/home.service.ts
  frontend/src/pages/home/index.ts
  frontend/src/pages/tournament/tournament.service.ts
  frontend/src/routes/router.ts
Due: format

changed the problem from coderabbit
  frontend/src/shared/services/game-manager.service.ts
Due: format

created a user setting page enable to change username, email, photo and password
  backend/database/transcendence.db-shm
  backend/database/transcendence.db-wal
  backend/package-lock.json
  backend/package.json
  backend/src/index.ts
  backend/src/models/User.ts
  backend/src/routes/user.ts
  backend/src/services/userService.ts
  backend/src/types/user.ts
Due: typecheck, lint, format

created a user setting page enable to change username, email, photo and password
  .gitignore
  backend/database/transcendence.db-shm
  backend/database/transcendence.db-wal
  database/schema.sql
  frontend/src/pages/home/home.service.ts
  frontend/src/pages/home/index.ts
  frontend/src/pages/settings/index.ts
  frontend/src/pages/settings/user-settings.service.ts
  frontend/src/routes/route-config.ts
  frontend/src/shared/services/auth-service.ts
  frontend/src/shared/types/user.ts
Due: format

Merge branch 'fea/user-setting-page' – add avatar upload pipeline and profile settings overhaul
  backend/database/transcendence.db-shm
  backend/database/transcendence.db-wal
  backend/package-lock.json
  backend/package.json
  backend/src/index.ts
  backend/src/routes/user.ts
Due: typecheck, lint, format

feat: add secure avatar upload pipeline and profile settings rename
  backend/src/routes/user.ts
  backend/src/services/userService.ts
  backend/src/types/user.ts
  frontend/src/pages/settings/index.ts
  frontend/src/shared/types/user.ts
Due: typecheck, lint, format

feat: secure avatar uploads and enforce profile_image_url naming consistency
  backend/database/transcendence.db-shm
  backend/src/services/userService.ts
Due: typecheck, lint, format

fix: use dynamic file-type import to keep CommonJS build working
  README.md
  backend/package.json
  backend/src/routes/user.ts
Due: typecheck, lint, format

remove the risk of deleting the whole fodler of user image
  backend/src/routes/user.ts
Due: typecheck, lint, format

mutliplayer started
  frontend/src/pages/quick-play/game-setup-ui.ts
  frontend/src/pages/quick-play/index.ts
  frontend/src/pages/quick-play/quick-play.service.ts
  frontend/src/pages/tournament/tournament.service.ts
  frontend/src/shared/components/game-setup-ui.ts
  frontend/src/shared/game/pong-game-3d.ts
  frontend/src/shared/services/game-manager.service.ts
Due: format

implemented the friend feature in the user setting page
  .gitignore
  backend/database/transcendence.db-shm
  backend/database/transcendence.db-wal
  backend/src/index.ts
  backend/src/models/Follow.ts
  backend/src/routes/user.ts
  backend/src/services/followService.ts
  backend/src/types/user.ts
  backend/uploads/avatars/user-1-1761706512481-1f4ed69a5168.webp
  backend/uploads/avatars/user-2-1761717555089-f0ab52c07b44.webp
  database/schema.sql
  database/transcendence.db-shm
  database/transcendence.db-wal
  frontend/src/pages/settings/index.ts
  frontend/src/pages/settings/user-settings.service.ts
  frontend/src/shared/services/auth-service.ts
  frontend/src/shared/types/user.ts
Due: typecheck, lint, format

fix/not to include email infromation for the friend list
  backend/src/routes/user.ts
  backend/src/services/followService.ts
  frontend/src/pages/settings/index.ts
  frontend/src/pages/settings/user-settings.service.ts
  frontend/src/shared/services/auth-service.ts
  frontend/src/shared/types/user.ts
Due: typecheck, lint, format

fix(follow): sanitize avatar paths within uploads dir
  backend/database/transcendence.db-shm
  backend/src/services/followService.ts
Due: typecheck, lint, format

fix: Correct path traversal check in file path validation
  backend/src/services/followService.ts
Due: typecheck, lint, format

add 4 players multiplayer
  frontend/src/pages/ai-mode/index.ts
  frontend/src/pages/home/index.ts
  frontend/src/pages/quick-play/game-setup-ui.ts
  frontend/src/pages/quick-play/index.ts
  frontend/src/pages/quick-play/quick-play.service.ts
  frontend/src/pages/register/index.ts
  frontend/src/pages/tournament/index.ts
  frontend/src/pages/tournament/tournament.service.ts
  frontend/src/shared/game/babylon-render.ts
  frontend/src/shared/game/pong-game-3d.ts
  frontend/src/shared/game/pong-game.ts
  frontend/src/shared/services/game-manager.service.ts
Due: format

fix: rely on nginx for frontend assets and keep /api prefix intact
  backend/Dockerfile
  backend/src/index.ts
  frontend/nginx.conf
Due: format

ゲーム画面の枠を削除してレスポンシブデザインに対応し、スクロール不要でプレイできるように改善
  backend/package-lock.json
  frontend/src/pages/quick-play/index.ts
  frontend/src/shared/components/space-page-base.ts
  frontend/src/shared/game/pong-game-3d.ts
  frontend/src/shared/game/pong-game.ts
Due: format

fix: リーク修正
  frontend/src/shared/game/pong-game-3d.ts
  frontend/src/shared/game/pong-game.ts
Due: format

fix: align backend/frontend routes and lowercase model imports
  backend/src/index.ts
  backend/src/models/Follow.ts
  backend/src/routes/auth.ts
  backend/src/services/followService.ts
  backend/src/services/userService.ts
  backend/src/types/user.ts
  backend/src/utils/auth.ts
  docker-compose.yml
  frontend/.env.example
  frontend/nginx.conf
  frontend/src/shared/services/auth-service.ts
  frontend/vite.config.ts
Due: typecheck, lint, format

fix(auth): return public user payload on login
  backend/src/routes/auth.ts
Due: typecheck, lint, format

changed to lowercase
  backend/src/models/follow.ts
  backend/src/models/user.ts
Due: typecheck, lint, format

feat: path変更エラーの返却タイミングの変更
  backend/database/transcendence.db-shm
  backend/database/transcendence.db-wal
  frontend/nginx.conf
  frontend/src/shared/services/auth-service.ts
Due: format

multiplayer 4 players finished
  database/transcendence.db-shm
  database/transcendence.db-wal
  docker-compose.yml
  frontend/src/pages/ai-mode/index.ts
  frontend/src/pages/quick-play/index.ts
  frontend/src/pages/tournament/index.ts
  frontend/src/shared/components/game-setup-ui.ts
  frontend/src/shared/game/babylon-render.ts
  frontend/src/shared/game/pong-game-3d.ts
  frontend/src/shared/game/pong-game.ts
  frontend/src/shared/types/game.ts
Due: format

feat: 共通ヘッダーの実装とレイアウト改善
  backend/database/transcendence.db-shm
  frontend/index.html
  frontend/src/pages/ai-mode/index.ts
  frontend/src/pages/home/home.service.ts
  frontend/src/pages/home/index.ts
  frontend/src/pages/login/index.ts
  frontend/src/pages/quick-play/index.ts
  frontend/src/pages/quick-play/quick-play.service.ts
  frontend/src/pages/register/index.ts
  frontend/src/pages/settings/index.ts
  frontend/src/pages/tournament/index.ts
  frontend/src/pages/tournament/tournament.service.ts
  frontend/src/shared/components/app-header.ts
  frontend/src/shared/components/space-page-base.ts
Due: format
