Repository arashi0-git/ft_trancendence: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    typecheck:
      glob: "{src,backend/src}/**/*.{ts,tsx}"
      run: npm run typecheck
      skip:
        - merge
        - rebase

    lint:
      glob: "{src,backend/src}/**/*.{ts,tsx}"
      run: npm run lint:fix
      stage_fixed: true
      skip:
        - merge
        - rebase

    format:
      glob: "**/*.{tsx,ts,mts,mcs,mjs,cjs,js,json,md,yml,yaml}"
      run: npx prettier --write --ignore-unknown {staged_files}
      stage_fixed: true
      skip:
        - merge
        - rebase

pre-push:
  parallel: true
  commands:
    test:
      run: npm run test
      skip:
        - merge
        - rebase

    build:
      run: npm run build
      skip:
        - merge
        - rebase

fix: フォーマット修正
  .serena/memories/code_style_conventions.md
  .serena/memories/codebase_structure.md
  .serena/memories/design_patterns_guidelines.md
  .serena/memories/project_overview.md
  .serena/memories/suggested_commands.md
  .serena/memories/task_completion_workflow.md
  .serena/memories/tech_stack.md
  .serena/project.yml
  README.md
  backend/src/models/follow.ts
  backend/src/services/authService.ts
  backend/tsconfig.json
  frontend/index.html
  frontend/src/pages/register/register.service.ts
  frontend/src/shared/components/register-form.ts
  frontend/src/style.css
  package-lock.json
  package.json
  tsconfig.jest.json
Due: typecheck, lint, format

fix: TypeScript型エラーとデッドコードの修正
  frontend/src/shared/components/space-page-base.ts
Due: format

fix: サイズを統一して個人差が出ないように
  frontend/src/shared/game/babylon-render.ts
  frontend/src/shared/game/pong-game-3d.ts
Due: format

フィールドのデザインサイズと当たり判定サイズを統一
  frontend/src/shared/game/babylon-render.ts
  frontend/src/shared/game/pong-game-3d.ts
Due: format

fix: 中央線描画修正
  frontend/src/shared/game/babylon-render.ts
Due: format

fix: メッシュ破棄
  frontend/src/shared/game/babylon-render.ts
Due: format

added custom bottom
  database/transcendence.db-shm
  database/transcendence.db-wal
  frontend/src/pages/game-settings/game-settings.page.ts
  frontend/src/pages/game-settings/game-settings.service.ts
  frontend/src/pages/home/home.service.ts
  frontend/src/pages/home/index.ts
  frontend/src/routes/route-config.ts
Due: format

トーナメント機能の完全実装：ログインユーザー選択、ブラケット表示、ゲーム画面、結果画面を追加
  frontend/src/pages/tournament/index.ts
  frontend/src/pages/tournament/tournament.service.ts
Due: format

rabbit fix revised
  frontend/src/pages/game-settings/game-settings.page.ts
  frontend/src/pages/quick-play/quick-play.service.ts
  frontend/src/shared/game/pong-game-3d.ts
  frontend/src/shared/services/game-manager.service.ts
Due: format

console log deleted
  frontend/src/shared/game/pong-game-3d.ts
  frontend/src/shared/game/pong-game.ts
Due: format

deleted minX and maxX
  frontend/src/shared/game/pong-game-3d.ts
  frontend/src/shared/game/pong-game.ts
  frontend/src/shared/types/game.ts
Due: format

added player registration for quick play
  backend/database/transcendence.db-shm
  backend/database/transcendence.db-wal
  database/transcendence.db-shm
  database/transcendence.db-wal
  frontend/src/pages/quick-play/index.ts
  frontend/src/pages/tournament/tournament.service.ts
  frontend/src/shared/components/game-setup-ui.ts
  frontend/src/shared/components/player-registration-ui.ts
Due: format

TypeScriptビルドエラーを修正
  database/transcendence.db-shm
  database/transcendence.db-wal
  frontend/src/pages/ai-mode/ai-mode.service.ts
  frontend/src/pages/ai-mode/ai-player.ts
  frontend/src/pages/ai-mode/index.ts
  frontend/src/pages/home/home.service.ts
  frontend/src/pages/home/index.ts
  frontend/src/pages/tournament/index.ts
  frontend/src/pages/tournament/tournament.service.ts
  frontend/src/routes/route-config.ts
  frontend/src/shared/components/player-selector.ts
  frontend/src/shared/components/tournament-registration.ts
  frontend/src/shared/game/babylon-render.ts
  frontend/src/shared/game/pong-game-3d.ts
  frontend/src/shared/game/pong-game.ts
  frontend/src/shared/services/game-manager.service.ts
  frontend/src/shared/services/tournament-data.service.ts
  frontend/src/shared/types/tournament.ts
Due: format

fix: レビュー修正とvalidate修正
  database/transcendence.db-shm
  frontend/src/pages/tournament/tournament.service.ts
  frontend/src/shared/components/player-selector.ts
  frontend/src/shared/game/babylon-render.ts
  frontend/src/shared/game/pong-game-3d.ts
  frontend/src/shared/services/game-manager.service.ts
Due: format

fix: エラー処理の重複を消した
  frontend/src/pages/tournament/tournament.service.ts
Due: format

add: AIプレイヤー登録のバグ修正
  frontend/src/shared/components/player-selector.ts
Due: format

add: リーク防止
  frontend/src/pages/tournament/tournament.service.ts
Due: format

game customization added
  frontend/src/pages/game-settings/game-settings.page.ts
  frontend/src/pages/game-settings/game-settings.service.ts
  frontend/src/pages/quick-play/index.ts
  frontend/src/shared/game/babylon-render.ts
  frontend/src/shared/game/pong-game-3d.ts
  frontend/src/shared/services/game-customization.service.ts
  frontend/src/shared/services/game-manager.service.ts
Due: format

Quick PlayとTournamentのプレイヤー選択を統一し、共有コンポーネント化してエラーメッセージを削除
  frontend/src/pages/quick-play/index.ts
  frontend/src/pages/quick-play/quick-play.service.ts
  frontend/src/pages/tournament/tournament.service.ts
  frontend/src/shared/components/player-registration-manager.ts
Due: format

customization settings added
  database/transcendence.db-shm
  database/transcendence.db-wal
  frontend/src/shared/game/pong-game-3d.ts
Due: format

fix: エラー処理追加
  frontend/src/pages/quick-play/index.ts
  frontend/src/pages/tournament/tournament.service.ts
  frontend/src/shared/components/player-registration-manager.ts
Due: format

implement email authentication
  backend/.env.example
  backend/package-lock.json
  backend/package.json
  backend/src/index.ts
  backend/src/middleware/auth.ts
  backend/src/models/twoFactorChallenge.ts
  backend/src/models/user.ts
  backend/src/routes/auth.ts
  backend/src/services/authService.ts
  backend/src/services/emailService.ts
  backend/src/services/twoFactorService.ts
  backend/src/services/userService.ts
  backend/src/types/user.ts
  database/schema.sql
  frontend/package-lock.json
  frontend/src/pages/home/home.service.ts
  frontend/src/pages/quick-play/quick-play.service.ts
  frontend/src/pages/settings/index.ts
  frontend/src/pages/settings/user-settings.service.ts
  frontend/src/shared/components/login-form.ts
  frontend/src/shared/services/auth-service.ts
  frontend/src/shared/types/user.ts
Due: typecheck, lint, format

implement email-based 2fa enforcement and frontend flow cleanup
  .gitignore
  backend/.env.example
  backend/database/transcendence.db-shm
  backend/database/transcendence.db-wal
  frontend/src/shared/components/login-form.ts
Due: format

customization module finished
  database/transcendence.db-shm
  frontend/src/pages/game-settings/game-settings.page.ts
  frontend/src/pages/game-settings/game-settings.service.ts
  frontend/src/shared/game/babylon-render.ts
  frontend/src/shared/game/pong-game-3d.ts
  frontend/src/shared/services/game-customization.service.ts
  frontend/src/shared/services/game-manager.service.ts
Due: format

merge main
  database/transcendence.db-shm
  database/transcendence.db-wal
Due: none

implement email-based 2fa
  .gitignore
  backend/database/transcendence.db
Due: none

feat: ページ統合＆バグ修正
  backend/database/transcendence.db-wal
  frontend/src/pages/ai-mode/ai-player.ts
  frontend/src/pages/quick-play/index.ts
  frontend/src/pages/tournament/tournament.service.ts
  frontend/src/shared/components/player-registration-with-count-selector.ts
  frontend/src/shared/game/pong-game-3d.ts
  frontend/src/shared/services/game-manager.service.ts
Due: format

Add safer 2FA flow and migrations for nodemailer update
  backend/package-lock.json
  backend/package.json
  backend/src/database/migrate.ts
  backend/src/models/twoFactorChallenge.ts
  backend/src/routes/auth.ts
  backend/src/services/emailService.ts
  backend/src/services/twoFactorService.ts
  frontend/src/shared/components/login-form.ts
Due: typecheck, lint, format

fix: エラー処理
  frontend/src/pages/quick-play/index.ts
  frontend/src/shared/components/player-registration-with-count-selector.ts
Due: format

Improve 2FA challenge handling and JSON parser security
  backend/package-lock.json
  backend/package.json
  backend/src/database/migrate.ts
  backend/src/index.ts
  backend/src/models/twoFactorChallenge.ts
  backend/src/models/user.ts
  backend/src/routes/auth.ts
  backend/src/services/authService.ts
  backend/src/services/emailService.ts
  backend/src/services/twoFactorService.ts
  database/transcendence.db-shm
  database/transcendence.db-wal
  frontend/src/pages/settings/index.ts
  frontend/src/pages/settings/user-settings.service.ts
  frontend/src/shared/components/login-form.ts
  frontend/src/shared/services/auth-service.ts
  frontend/src/shared/types/user.ts
Due: typecheck, lint, format

Improve two-factor migration recovery and fix frontend 2FA verification check
  backend/src/database/migrate.ts
  frontend/src/pages/settings/user-settings.service.ts
Due: typecheck, lint, format

Polish two-factor flows with safer migration checks and response typing
  frontend/src/pages/settings/user-settings.service.ts
Due: format

added language bottom and japanese translation
  frontend/src/i18n/index.ts
  frontend/src/i18n/locales/cs.json
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/jp.json
  frontend/src/main.ts
  frontend/src/pages/game-settings/game-settings.page.ts
  frontend/src/pages/home/index.ts
  frontend/src/pages/quick-play/index.ts
  frontend/src/pages/register/index.ts
  frontend/src/pages/tournament/index.ts
  frontend/src/pages/tournament/tournament.service.ts
  frontend/src/shared/components/app-header.ts
  frontend/src/shared/components/login-form.ts
  frontend/src/shared/components/player-registration-manager.ts
  frontend/src/shared/components/player-selector.ts
  frontend/src/shared/components/register-form.ts
  frontend/src/shared/game/babylon-render.ts
  package-lock.json
  package.json
Due: format

add resend button and app authentication button without any feature / remove enable and disable authentication
  backend/src/models/twoFactorChallenge.ts
  backend/src/routes/auth.ts
  backend/src/services/authService.ts
  backend/src/services/twoFactorService.ts
  backend/src/types/user.ts
  database/transcendence.db-shm
  database/transcendence.db-wal
  frontend/src/pages/settings/index.ts
  frontend/src/pages/settings/user-settings.service.ts
  frontend/src/shared/components/login-form.ts
  frontend/src/shared/services/auth-service.ts
  frontend/src/shared/types/user.ts
Due: typecheck, lint, format

remove unused error handler condition
  database/transcendence.db-shm
  database/transcendence.db-wal
  frontend/src/pages/settings/user-settings.service.ts
  frontend/src/shared/components/login-form.ts
  frontend/src/shared/types/user.ts
Due: format

allow enableTwoFactor without password
  frontend/src/pages/settings/user-settings.service.ts
Due: format

deleted i18n
  frontend/package.json
Due: format

added i18n
  frontend/package.json
Due: format

Revert "Feat/language"
  database/transcendence.db-shm
  database/transcendence.db-wal
  frontend/package-lock.json
  frontend/package.json
  frontend/src/i18n/index.ts
  frontend/src/i18n/locales/cs.json
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/jp.json
  frontend/src/main.ts
  frontend/src/pages/game-settings/game-settings.page.ts
  frontend/src/pages/home/index.ts
  frontend/src/pages/quick-play/index.ts
  frontend/src/pages/register/index.ts
  frontend/src/pages/tournament/index.ts
  frontend/src/pages/tournament/tournament.service.ts
  frontend/src/shared/components/app-header.ts
  frontend/src/shared/components/login-form.ts
  frontend/src/shared/components/player-registration-manager.ts
  frontend/src/shared/components/player-selector.ts
  frontend/src/shared/components/register-form.ts
  frontend/src/shared/game/babylon-render.ts
  frontend/tsconfig.json
  package-lock.json
  package.json
Due: format

ask 2fa when enable, disable and change email
  backend/src/models/twoFactorChallenge.ts
  backend/src/routes/auth.ts
  backend/src/routes/user.ts
  backend/src/services/authService.ts
  backend/src/services/twoFactorService.ts
  backend/src/services/userService.ts
  backend/src/types/user.ts
  backend/uploads/avatars/user-1-1762071544636-18228a7c5a06.webp
  database/schema.sql
  database/transcendence.db-shm
  database/transcendence.db-wal
  frontend/src/pages/settings/friends-section.ts
  frontend/src/pages/settings/index.ts
  frontend/src/pages/settings/profile-section.ts
  frontend/src/pages/settings/security-section.ts
  frontend/src/pages/settings/user-settings.service.ts
  frontend/src/shared/components/app-header.ts
  frontend/src/shared/components/login-form.ts
  frontend/src/shared/components/two-factor-verification.ts
  frontend/src/shared/services/auth-service.ts
  frontend/src/shared/types/user.ts
Due: typecheck, lint, format
