Repository arashi0-git/ft_trancendence: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck-backend, typecheck-frontend, lint-backend, lint-frontend, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    typecheck-backend:
      glob: "backend/src/**/*.{ts,tsx}"
      run: npm run typecheck --prefix backend
      skip:
        - merge
        - rebase

    typecheck-frontend:
      glob: "frontend/src/**/*.{ts,tsx}"
      run: npm run typecheck --prefix frontend
      skip:
        - merge
        - rebase

    lint-backend:
      glob: "backend/src/**/*.{ts,tsx}"
      run: npm run lint:fix --prefix backend
      stage_fixed: true
      skip:
        - merge
        - rebase

    lint-frontend:
      glob: "frontend/src/**/*.{ts,tsx}"
      run: npm run lint:fix --prefix frontend
      stage_fixed: true
      skip:
        - merge
        - rebase

    format:
      glob: "**/*.{tsx,ts,mts,mcs,mjs,cjs,js,json,md,yml,yaml}"
      run: npx prettier --write --ignore-unknown {staged_files}
      stage_fixed: true
      skip:
        - merge
        - rebase

pre-push:
  parallel: true
  commands:
    test:
      run: npm run test
      skip:
        - merge
        - rebase

    build:
      run: npm run build
      skip:
        - merge
        - rebase

refactor user interface
  backend/src/models/user.ts
  backend/src/routes/auth.ts
  backend/src/routes/user.ts
  backend/src/services/authService.ts
  backend/src/services/friendService.ts
  backend/src/services/twoFactorService.ts
  backend/src/services/userService.ts
  backend/src/types/auth.ts
  backend/src/types/user.ts
  backend/src/utils/auth.ts
  frontend/src/i18n/locales/cs.json
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/jp.json
  frontend/src/pages/settings/index.ts
  frontend/src/shared/types/user.ts
Due: typecheck-backend, typecheck-frontend, lint-backend, lint-frontend, format

refactor router
  backend/src/routes/auth.ts
  backend/src/routes/history.ts
  backend/src/routes/user.ts
  backend/src/services/authService.ts
  backend/src/services/twoFactorService.ts
  backend/src/types/auth.ts
  frontend/src/pages/settings/security-section.ts
  frontend/src/pages/settings/user-settings.service.ts
  frontend/src/shared/components/login-form.ts
  frontend/src/shared/services/auth-service.ts
  frontend/src/shared/types/user.ts
Due: typecheck-backend, typecheck-frontend, lint-backend, lint-frontend, format

fixed error alert tannslate
  frontend/src/i18n/locales/cs.json
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/jp.json
  frontend/src/pages/settings/profile-section.ts
  frontend/src/shared/components/two-factor-verification.ts
  frontend/src/shared/game/pong-game-3d.ts
  frontend/src/shared/utils/error-translator.ts
Due: typecheck-frontend, lint-frontend, format

double checked xss and deleted migartion file and not to be able to jump to tournament url
  backend/package-lock.json
  backend/package.json
  backend/src/database/migrate.ts
  backend/src/index.ts
  backend/src/services/userService.ts
  database/migrations/001_add_two_factor.sql
  database/migrations/002_create_game_history.sql
  database/migrations/003_add_user_language.sql
  database/migrations/004_add_match_type_and_round.sql
  database/migrations/005_add_tournament_name_to_history.sql
  frontend/src/app.ts
  frontend/src/i18n/locales/cs.json
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/jp.json
  frontend/src/pages/quick-play/index.ts
  frontend/src/pages/settings/friends-section.ts
  frontend/src/pages/settings/profile-section.ts
  frontend/src/pages/tournament/tournament.service.ts
  frontend/src/routes/route-config.ts
  frontend/src/routes/router.ts
Due: typecheck-backend, typecheck-frontend, lint-backend, lint-frontend, format

ehchace contentSecurityPolicy
  backend/package-lock.json
  backend/package.json
  backend/src/index.ts
  package-lock.json
Due: format

edit comment
  backend/src/index.ts
Due: format

edit comment2
  backend/src/index.ts
Due: format

fixed docker nginx file
  .dockerignore
  backend/Dockerfile
  backend/src/models/gameHistory.ts
  backend/src/routes/history.ts
  backend/src/types/history.ts
  docker-compose.yml
  frontend/nginx.conf
  frontend/src/shared/services/history-service.ts
  frontend/src/shared/types/history.ts
Due: typecheck-backend, typecheck-frontend, lint-backend, lint-frontend, format

modified http request redirection nginx
  frontend/nginx.conf
Due: none

support constent-security-policy in nginx
  frontend/nginx.conf
Due: none

add remit the user inputs
  backend/src/services/userService.ts
  frontend/src/i18n/locales/cs.json
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/jp.json
  frontend/src/pages/settings/friends-section.ts
  frontend/src/pages/settings/profile-section.ts
  frontend/src/shared/components/login-form.ts
  frontend/src/shared/components/register-form.ts
Due: typecheck-backend, typecheck-frontend, lint-backend, lint-frontend, format

Update README with new images and sections
  README.md
Due: none

Update README.md
  README.md
Due: none

add
  README.md
Due: none

docs: restore images and finalize README content
  README.md
Due: none
