Repository arashi0-git/ft_trancendence: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, lint, format

typecheck:
  run: npm run typecheck
  skip:
  - merge
  - rebase

lint:
  run: npm run lint:fix
  stage_fixed: true
  skip:
  - merge
  - rebase

format:
  run: npx prettier --write --ignore-unknown {staged_files}
  stage_fixed: true
  skip:
  - merge
  - rebase

add translation for home page, customization game page and player registration
  database/transcendence.db-shm
  frontend/package-lock.json
  frontend/package.json
  frontend/src/i18n/index.ts
  frontend/src/i18n/locales/cs.json
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/jp.json
  frontend/src/main.ts
  frontend/src/pages/game-settings/game-settings.page.ts
  frontend/src/pages/home/index.ts
  frontend/src/pages/quick-play/index.ts
  frontend/src/pages/tournament/tournament.service.ts
  frontend/src/shared/components/app-header.ts
  frontend/src/shared/components/player-registration-manager.ts
  frontend/src/shared/components/player-registration-with-count-selector.ts
  frontend/src/shared/components/player-selector.ts
  frontend/tsconfig.json
Due: format

rename the settings “following” module to “friends”, update helpers, and clean up its event listeners on destroy
  backend/src/routes/user.ts
  database/transcendence.db-shm
  database/transcendence.db-wal
  frontend/src/pages/settings/friends-section.ts
  frontend/src/pages/settings/profile-section.ts
  frontend/src/pages/settings/security-section.ts
Due: typecheck, lint, format

memory leak fixed
  frontend/src/pages/tournament/tournament.service.ts
  frontend/src/shared/components/app-header.ts
Due: format

2nd memory leak fixed
  frontend/src/pages/tournament/tournament.service.ts
  frontend/src/shared/components/app-header.ts
Due: format

Keep 2FA callback alive after hiding dialog; restore disabled buttons while a verification challenge is active.
  frontend/src/pages/settings/security-section.ts
Due: format

fix: AIの動作の正確性を向上
  .gitignore
  frontend/src/pages/ai-mode/ai-player.ts
  frontend/src/shared/game/pong-game-3d.ts
  frontend/src/shared/services/game-manager.service.ts
Due: format

fix/remove any in yuhi edited files
  backend/src/middleware/auth.ts
  backend/src/services/followService.ts
  backend/src/services/userService.ts
  backend/src/utils/auth.ts
Due: typecheck, lint, format

feat: CI/CD作成lefthookも
  .github/workflows/pr-check.yml
  backend/.eslintrc.js
  backend/package.json
  frontend/.eslintrc.cjs
  frontend/package-lock.json
  frontend/package.json
  lefthook.yml
  package.json
Due: format

fix: typecheck error in auth middleware
  backend/src/index.ts
  backend/src/middleware/auth.ts
  backend/src/models/user.ts
  backend/src/services/authService.ts
  backend/src/services/followService.ts
  backend/src/services/userService.ts
  backend/src/utils/auth.ts
  frontend/src/pages/quick-play/quick-play.service.ts
  frontend/src/shared/components/app-header.ts
  frontend/src/shared/components/space-background.ts
  frontend/src/shared/game/pong-game-3d.ts
Due: typecheck, lint, format

fix: lint error
  frontend/src/pages/settings/security-section.ts
Due: format

fix: lefthook
  lefthook.yml
Due: none

chore: jsonファイル編集
  backend/package.json
  frontend/package.json
  package-lock.json
  package.json
Due: format

fix: バージョンを整えた
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
  package.json
Due: format

wip
  backend/package-lock.json
  frontend/package-lock.json
Due: format

feat: aiが自然な挙動になるようにノイズの追加量を減らした
  frontend/src/pages/ai-mode/ai-player.ts
Due: format

removed any
  frontend/src/i18n/locales/cs.json
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/jp.json
  frontend/src/pages/tournament/tournament.service.ts
  frontend/src/shared/components/app-header.ts
Due: format

add quick game match history
  frontend/src/pages/quick-play/index.ts
  frontend/src/pages/quick-play/quick-play.service.ts
  frontend/src/pages/settings/history-section.ts
  frontend/src/pages/settings/index.ts
  frontend/src/shared/services/history-service.ts
  frontend/src/shared/types/history.ts
Due: format

add quick game match history
  backend/src/index.ts
  backend/src/models/gameHistory.ts
  backend/src/routes/history.ts
  backend/src/types/history.ts
  database/schema.sql
  database/transcendence.db-shm
  database/transcendence.db-wal
Due: typecheck, lint, format

fix/migration script for match history
  .gitignore
  backend/src/database/migrate.ts
  backend/src/index.ts
  backend/src/models/gameHistory.ts
  backend/src/routes/history.ts
  database/migrations/001_add_two_factor.sql
  database/migrations/002_create_game_history.sql
  database/migrations/003_add_opponent_score.sql
  database/transcendence.db-shm
  database/transcendence.db-wal
  frontend/src/pages/quick-play/index.ts
  frontend/src/pages/quick-play/quick-play.service.ts
  frontend/src/pages/settings/history-section.ts
  frontend/src/pages/settings/index.ts
  frontend/src/shared/services/history-service.ts
Due: typecheck, lint, format

fix(history): clean migrations and enforce pagination limits
  backend/src/database/migrate.ts
  backend/src/models/gameHistory.ts
  database/migrations/001_add_two_factor.sql
  database/migrations/003_add_opponent_score.sql
Due: typecheck, lint, format

chore: add CodeRabbit review rules
  .coderabbit.yaml
Due: none

fix: コードラビットレビュー内容
  .coderabbit.yaml
  database/transcendence.db-shm
Due: none

fix: igonre message
  .coderabbit.yaml
Due: none

quick play translated and any removed
  database/transcendence.db-shm
  database/transcendence.db-wal
  frontend/package-lock.json
  frontend/src/i18n/locales/jp.json
  frontend/src/pages/game-settings/game-settings.page.ts
  frontend/src/pages/quick-play/index.ts
  frontend/src/pages/tournament/index.ts
  frontend/src/pages/tournament/tournament.service.ts
  frontend/src/shared/components/player-registration-manager.ts
  frontend/src/shared/components/player-registration-with-count-selector.ts
  frontend/src/shared/components/player-selector.ts
Due: format

もー
  frontend/src/pages/quick-play/index.ts
Due: format

i want to cry
  frontend/src/i18n/locales/cs.json
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/jp.json
  frontend/src/pages/quick-play/index.ts
Due: format

Expanding Browser Compatibility
  README.md
  frontend/package.json
  frontend/vite.config.ts
Due: format

add support browser in json and vite
  frontend/package-lock.json
  frontend/package.json
Due: format

change Readme about browser
  README.md
Due: none

fix: threshold調整、scoreBoardの位置変更
  frontend/src/pages/ai-mode/ai-player.ts
  frontend/src/shared/game/babylon-render.ts
Due: format

add: 一括起動シェルスクリプト
  start-dev.sh
Due: none

fix: ai-playerの閾値を合わせる
  frontend/src/pages/ai-mode/ai-player.ts
  start-dev.sh
Due: format

feat: スコアボードに登録名と3dぽく
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/quick-play/quick-play.service.ts
  frontend/src/pages/tournament/tournament.service.ts
  frontend/src/shared/components/player-selector.ts
  frontend/src/shared/game/babylon-render.ts
  frontend/src/shared/game/pong-game-3d.ts
  frontend/src/shared/services/game-manager.service.ts
  frontend/src/shared/types/game.ts
Due: format

feat: 4人プレイの時も名前表示
  frontend/src/shared/game/babylon-render.ts
  frontend/src/shared/game/pong-game-3d.ts
Due: format

Update README with new images and sections
  README.md
Due: none

feat: パスワードの見え隠れ機能
  frontend/images/icon/eye_icon.png
  frontend/src/shared/components/login-form.ts
  frontend/src/shared/components/register-form.ts
Due: format

fix: 重複する内容をファイル作成で統一
  frontend/src/shared/components/login-form.ts
  frontend/src/shared/components/register-form.ts
  frontend/src/shared/utils/password-toggle-utils.ts
Due: format

quick play translated and ultimate pong experience text removed
  frontend/src/i18n/locales/cs.json
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/jp.json
  frontend/src/pages/game-settings/game-settings.page.ts
  frontend/src/pages/home/index.ts
  frontend/src/pages/quick-play/index.ts
  frontend/src/pages/tournament/tournament.service.ts
  frontend/src/shared/components/app-header.ts
Due: format

Path conditions:
  typecheck: any of: {src,backend/src}/**/*.{ts,tsx}
  lint: any of: {src,backend/src}/**/*.{ts,tsx}
  format: any of: **/*.{tsx,ts,mts,mcs,mjs,cjs,js,json,md,yml,yaml}
